@model GestionDeConsultorio.Model.Cita

@{
    ViewData["Title"] = "Cancelar";
}

<h1>Cancelar cita</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cancelar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MotivoDeCancelacion" class="control-label"></label>
                <textarea asp-for="MotivoDeCancelacion" class="form-control"></textarea>
                <span asp-validation-for="MotivoDeCancelacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cancelar cita" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
