@model GestionDeConsultorio.Model.Cita

@{
    ViewData["Title"] = "Iniciar";
}

<h1>Iniciar cita</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Iniciar">
            <div class="form-group">
                <label asp-for="Diganostico" class="control-label"></label>
                <textarea asp-for="Diganostico" class="form-control"></textarea>
                <span asp-validation-for="Diganostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medicamentos" class="control-label"></label>
                <textarea asp-for="Medicamentos" class="form-control"></textarea>
                <span asp-validation-for="Medicamentos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
